:root {
  --main-font: "Arial", sans-serif;
  --digit-font: "Arial", sans-serif;
  --accent-font: "NT-somic", sans-serif;
  --rus-font: "ITC-Franklin-GothicBook", sans-serif;
  --ears: clamp(1.688rem, 14.204vw - 1.42rem, 15.625rem);
  --accent-color: #274359;
  --main-color: #fff;
  --bg-doctors: #f3f3f3;
  --doctor-desrts-color: #2f516d;
  --none-active-button: #2f516d8a;
  --width-samples-card: 460px;
  --height-samples-card: 383px;
}

.page {
  max-width: 1920px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  padding-inline: var(--ears);
  margin-top: 19px;
}

.icons__header-image {
  width: clamp(4.25rem, 2.038vw + 3.804rem, 6.25rem);
  height: clamp(3.875rem, 1.783vw + 3.485rem, 5.625rem);
}

.contact__header {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  max-height: 170px;
  align-items: center;
  gap: 10px;
}

.header-text {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

.contact__item-location {
  max-width: 347px;
  text-align: left;
  display: flex;
}
.contact__item-location::before {
  content: "";
  background-image: url(../icons/geopos.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 46px;
  margin-right: 14px;
}
.contact__item-links {
  display: flex;
  align-items: center;
}

.social__link__container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.social__link__container__footer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.social__link-item {
  width: 43px;
  height: 43px;
}

.social__link-item__footer {
  width: 43px;
  height: 43px;
}

.telephone__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.telephone__header-logo {
  width: 43px;
  height: 43px;
  margin-right: 15px;
}

.navigation__list {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation__list-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.burger-checkbox {
  display: none;
}
.burger-checkbox__footer {
  display: none;
}

.health__container {
  background-image: url(../images/header_bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: clamp(1.625rem, 14.66vw - 1.967rem, 15.625rem);
  padding-bottom: clamp(3.75rem, 2.88vw + 3.045rem, 6.5rem);
}

.health__slider-container {
  position: relative;
  overflow: hidden;
  width: clamp(16.25rem, 12.893vw + 13.091rem, 28.563rem);
  /* height: clamp(21.063rem, 15.159vw + 20.746rem, 35.938rem); */
  margin-right: clamp(0.625rem, 7.134vw - 0.936rem, 7.625rem);
}

.health__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.health__slider-item {
  position: relative;
}

/* .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.health__prev-button,
.health__next-button {
  position: relative;
  top: 2%;
  transform: translateY(-50%);
  width: 50px;
  height: 0px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.health__prev-button {
  left: 5px;
}

.health__next-button {
  right: 5px;
}

.healt__title-block {
  padding-top: clamp(0.625rem, 2.225vw + 0.08rem, 2.75rem);
  padding-bottom: 40px;
  text-align: center;
}

.health-title {
  font-family: var(--accent-font);
  font-size: clamp(1.375rem, 1.702vw + 0.958rem, 3rem);
  font-weight: 600;
  /* line-height: 49.81px; */
  text-align: left;
  text-transform: uppercase;
  color: var(--main-color);
}

.health-subtitle {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.916vw + 0.651rem, 1.75rem);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  padding-top: 10px;
}

.health__slider__card-image {
  width: clamp(16.25rem, 12.893vw + 13.091rem, 28.563rem);
  height: clamp(21.063rem, 11.976vw + 18.128rem, 32.5rem);
}

.vector-slider {
  width: 30px;
  height: 30px;
  object-position: center;
  object-fit: contain;
  margin-block: auto;
}
.card__signaturs {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  bottom: 17px;
  right: 0px;
}
.health__slider__card-text {
  background: linear-gradient(
    180deg,
    rgba(236, 0, 0, 0.8) 0%,
    rgba(179, 0, 0, 0.8) 100%
  );
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  right: 0px;
  bottom: 100px;
  padding: 8px 15px;
  width: clamp(10.438rem, 8.508vw + 8.353rem, 18.563rem);
  text-align: end;
}

.health__slider__card-title {
  font-family: var(--accent-font);
  font-size: clamp(0.938rem, 0.72vw + 0.761rem, 1.625rem);
  font-weight: 600;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: var(--main-color);
}

.health__slider__card-title span {
  font-size: clamp(1.313rem, 0.9vw + 1.056rem, 2.313rem);
  font-weight: 600;
}

.health__slider__card-subtitle {
  font-family: var(--accent-font);
  font-size: clamp(0.563rem, 0.524vw + 0.434rem, 1.063rem);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.health__slider__card-price {
  text-transform: uppercase;
  color: var(--main-color);
  font-family: Arial;
  font-size: clamp(1.5rem, 0.982vw + 1.259rem, 2.438rem);
  font-weight: 700;
  text-align: end;
  padding-right: 16px;
}

.health__slider__card-price span {
  font-weight: 400;
}

.health__slider__card-doptext {
  text-transform: uppercase;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-weight: 400;
  text-align: end;
  padding-right: 16px;
}

.services {
  padding-inline: var(--ears);
  padding-bottom: clamp(2.063rem, 3.469vw + 1.213rem, 5.375rem);
}

.services__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: clamp(16.625rem, 5.955vw + 15.166rem, 22.313rem) clamp(
      16.625rem,
      5.955vw + 15.166rem,
      22.313rem
    );
  column-gap: clamp(0.313rem, 0.982vw + 0.072rem, 1.25rem);
  row-gap: clamp(0.625rem, 0.327vw + 0.545rem, 0.938rem);
  align-content: center;
  /* position: relative; */
}

.services__card-backdrop {
  position: relative;
  perspective: 1000px;
}

.services__card {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  display: flex;
}

.services__card-text {
  font-family: var(--main-font);
  font-size: clamp(0.01rem, 0.2vw + 0.7rem, 1.125rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  align-self: flex-end;
  width: 72%;
  padding: 16px 0px;
  background: linear-gradient(180deg, #2f516d 0%, #1a3d59 100%);
  border-radius: 16px;
  margin: 0 auto;
  color: var(--main-color);
  margin-bottom: clamp(0.563rem, 0.393vw + 0.466rem, 0.938rem);
}

.services__card__back,
.services__card__front {
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s;
  backface-visibility: hidden;
}

.services__card__back {
  transform: rotateY(180deg);
}

.services__card-backdrop:hover .services__card__front {
  transform: rotateY(180deg);
}
.services__card-backdrop:hover .services__card__back {
  transform: rotateY(360deg);
}

.services__card__back {
  padding: clamp(0rem, 11.463vw - 7.881rem, 5.875rem) 8px 50px 8px;
}

.services__card-price {
  display: grid;
  grid-template-columns: 6fr 2fr;
  padding: 19px 10px;
  background: linear-gradient(180deg, #2f516d 0%, #1a3d59 100%);
  border-radius: 8px;
  margin: 0 auto;
  color: var(--main-color);
}

.services__card_price-text {
  font-family: var(--main-font);
  font-size: clamp(0.813rem, 0.458vw + 0.7rem, 1.25rem);
  font-weight: 400;
  text-align: left;
  color: var(--main-color);
  align-self: center;
  justify-self: start;
}

.services__card_price-digit {
  font-family: var(--main-font);
  font-size: clamp(0.563rem, 0.72vw + 0.386rem, 1.25rem);
  font-weight: 700;
  color: var(--main-color);
  align-self: center;
  justify-self: end;
}

.services__card_price-digit span {
  font-size: clamp(0.875rem, 0.262vw + 0.811rem, 1.125rem);
  font-weight: 400;
  text-align: left;
  font-family: var(--main-font);
  color: var(--main-color);
}

.services__card-implant-front,
.services__card-implant-back {
  background-image: url(../images/implant.webp);
}

.services__card-price-implant {
  grid-template-rows: repeat(3, 1fr);
}

.services__card-child-front,
.services__card-child-back {
  background-image: url(../images/child.webp);
}
.services__card-price-child {
  grid-template-rows: repeat(2, 1fr);
}

.services__card-ortondont-front,
.services__card-ortondont-back {
  background-image: url(../images/ortondont.webp);
}
.services__card-price-ortondont {
  grid-template-rows: repeat(1, 1fr);
}

.services__card-protez-front,
.services__card-protez-back {
  background-image: url(../images/protez.webp);
}
.services__card-price-protez {
  grid-template-rows: repeat(1, 1fr);
}

.services__card-profilactic-front,
.services__card-profilactic-back {
  background-image: url(../images/profilactic.webp);
}
.services__card-price-profilactic {
  grid-template-rows: repeat(2, 1fr);
}

.services__card-diagnostic-front,
.services__card-diagnostic-back {
  background-image: url(../images/diagnostic.webp);
}
.services__card-price-diagnostic {
  grid-template-rows: repeat(4, 1fr);
}

.section_title {
  font-family: var(--accent-font);
  font-size: clamp(1.563rem, 1.636vw + 1.162rem, 3.125rem);
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
  padding-block: clamp(1.875rem, 4.254vw + 0.833rem, 5.938rem)
    clamp(1.25rem, 1.44vw + 0.897rem, 2.625rem);
}

.button__enroll {
  background: linear-gradient(180deg, #ec0000 0%, #b30000 100%);
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 260px;
  padding-block: 15px;
  text-align: center;
  color: var(--main-color);
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 27px;
  margin-inline: auto;
}

.button__enroll a {
  text-decoration: none;
}

.doctors {
  padding-inline: var(--ears);
  background-color: var(--bg-doctors);
  padding-bottom: 55px;
}

.doctors__content {
  display: grid;
  grid-template-columns: 7fr 13fr;
  gap: 22px;
}

/*------------------------------
 slider
------------------------------*/
/* .bottom-slider {
  position: relative;
  width: 50%;
  height: 70vh;
  margin: 0 auto 300px;
  z-index: 1;
}

.bottom-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.bottom-slider__slide {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  transform-origin: top right;
  transform-style: preserve-3d;
  transition: all 0.6s ease 0s;
  padding: 0 40px;
  box-sizing: border-box;
  opacity: 1;
}

.bottom-slider__slide:nth-child(1) {
  background-image: url(../images/header_bg.webp);
}

.bottom-slider__slide:nth-child(2) {
  background-color: gray;
}

.bottom-slider__slide:nth-child(3) {
  background-color: green;
} */
.js-bottom-slider {
  position: relative;
}
.bottom-slider__wrapper {
  display: flex;
  position: relative;
}

.bottom-slider__button-next, .bottom-slider__button-prev {
  z-index: 2;
}

.js-slide-item:nth-child( n + 4 ) {
  display: none;

}
.js-slide-item:nth-child(2) {
  margin-top: 92px;
  margin-right: -221px;
}
.js-slide-item:nth-child(3) {
  position: relative;
  z-index: 1;
}
.js-slide-item:nth-child(3) {
  z-index: 5;
}
.js-slide-item:nth-child(2) .dark__image__back {
z-index: 3;
}

.js-slide-item:nth-child(2) img {
z-index: 2;
}
.js-slide-item:nth-child(1) .dark__image__back {
z-index: 1;
}

.js-slide-item:nth-child(1) img {
z-index: 0;
}
.js-slide-item:nth-child(2) img, .js-slide-item:nth-child(1) img {
  /* z-index: 1; */
  position: relative;
}

.image__container {
  position: relative;
  }
  
  .js-slide-item:nth-child(2) .dark__image__back, .js-slide-item:nth-child(1) .dark__image__back  {
  border-radius: 17px;
    /* z-index: 1; */
    position: absolute;
    inset: 0;
    background: linear-gradient(270.96deg, rgba(47, 81, 109, 0.8) 0.45%, rgba(88, 120, 146, 0.8) 98.83%);
    height: 99%;
  }


.js-slide-item:nth-child(1) {
  margin-top: 184px;
  margin-right: -221px;
}

.main__slider-image {
  max-width: 340px;
}

.bottom-slider__button-box {
  position: absolute;
  top: 90%;
  width: 100%;
  height: 24px;
  transform: translateY(-50%);
  z-index: 100;
}

.bottom-slider__button-prev,
.bottom-slider__button-next {
  content: "";
  position: absolute;
  top: 440px;
  /* width: 20px; */
  /* height: 20px; */
  /* border-top: 2px solid #FFFFFF; */
  /* border-right: 2px solid #FFFFFF; */
  margin-top: -10px;
  cursor: pointer;
  z-index: 7;
}

.bottom-slider__button-prev {
  left: 64%;
  /* transform: rotate(-135deg); */
}

.bottom-slider__button-next {
  right: 19%;
  /* transform: rotate(45deg); */
}

/* is-bottom-slide */
.bottom-slider__slide.is-bottom-slide {
  /* transform: translate(0, 110%) !important; */
  opacity: 0;
}

.doctors__name {
  font-family: var(--accent-font);
  font-size: 53.7px;
  font-weight: 600;
  text-align: left;
  max-width: 480px;
  line-height: 52.09px;
  margin-bottom: 10px;
}

.doctors__post {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  letter-spacing: 0.1em;
  text-align: left;
  padding-bottom: 36px;
}

.doctors__deserts {
  font-family: var(--main-font);
  color: var(--doctor-desrts-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  letter-spacing: 0.1em;
  text-align: left;
  padding-bottom: 36px;
}

.doctors__quote {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.7px;
  letter-spacing: 0.1em;
  text-align: left;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.doctors__qualification {
  /* display: flex;
  gap: 5px; */
  text-align: left;
}

.doctors__button {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 20.7px;
  background-color: var(--doctor-desrts-color);
  text-transform: uppercase;
  border-radius: 22px;
  padding-inline: 10px;
  padding-block: 5px;
  margin-bottom: 16px;
}

.doctors__button-none {
  background-color: var(--none-active-button);
}

.doctors__card__text {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  letter-spacing: 0.1em;
  text-align: left;
  padding: 22px;
  border: 1px solid #000;
  border-radius: 24px;
}

.doctors__card__text p {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.education__text span {
  display: block;
}

.specification__figcaption, .seminars__figcaption {
  padding-bottom: 12px;
}

.seminars__list, .specification__list {
  padding-left: 26px;
}

.seminars__item, .specification__item {
  padding-bottom: 10px;
}

.seminars__list, .seminars__item {
  list-style-type: decimal;
}

.specification__list, .specification__item {
  list-style-type: disc;
}




.samples {
  padding-inline: var(--ears);
  position: relative;
}

.samples__container {
  display: grid;
  grid-template-columns: repeat(3, var(--width-samples-card));
  justify-content: center;
  gap: 30px;
}

* {
  box-sizing: border-box;
}

.samples__card {
  position: relative;
  height: var(--height-samples-card);
  width: var(
    --width-samples-card
  ); /*должен быть такой же высоты, как и изображения*/
}

.samples__image {
  position: absolute;
  width: var(--width-samples-card);
  height: var(--height-samples-card);
  overflow: hidden;
}

.samples__image img {
  display: block;
  height: var(--height-samples-card);
  object-fit: cover;

}

.samples__comparison {
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  cursor: ew-resize;
  /*установите внешний вид ползунка:*/
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 50%;
}

.samples__comparison,
.samples__above {
  max-width: calc(var(--width-samples-card) - 15px);
}

.samples__comparison::after {
  content: "";
  display: flex;
  width: 30px;
  height: 30px;
  background-image: url(../icons/Group\ 30.svg);
  background-size: cover;

  position: absolute;
  top: 50%;
  right: -15px;
}
.samples__subtitle {
  background: linear-gradient(86.43deg, #2f516d 0.31%, #437096 94.77%);
  color: var(--main-color);
  display: flex;
  border-radius: 9px;
  padding-inline: 20px;
  padding-block-start: 10px;
  padding-block-end: 15px;
  margin-top: 8px;
  justify-content: space-between;
  align-items: center;
  height: 77px;
}

.samples__subtitle-text {
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 400;
}

.samples__subtitle-button {
  background-color: #fff;
  color: #2f516d;
  padding: 4px 21px;
  border-radius: 22px;
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 400;
}

.works__prev-button, .works__next-button {
  display: none;
}

.sale {
  padding-inline: var(--ears);
}

.sale__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 383px);
  gap: 20px;
}

.title__sale {
  font-family: var(--accent-font);
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  max-width: 300px;
  text-transform: uppercase;
  color: var(--main-color);
}

.price__implant {
  background: linear-gradient(
    180deg,
    rgba(236, 0, 0, 0.8) 0%,
    rgba(179, 0, 0, 0.8) 100%
  );
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--main-color);
  border-radius: 16px;
  padding-inline: 16px;
  padding-block: 8px;
}

.price__tomograph {
  font-family: var(--accent-font);
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  color: var(--main-color);
}

.sale__valute {
  font-family: var(--accent-font);
  font-size: 16px;
  font-weight: 400;
}

.sale__frome {
  font-family: var(--accent-font);
  font-size: 12px;
  font-weight: 400;
}

.sale-item {
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 6px;
  padding: 13px;
  display: flex;
  flex-direction: column;
}

.sale__tomograph {
  background-image: url(../images/tomograph.webp);
  justify-content: end;
  align-items: start;
}

.sale__implant {
  background-image: url(../images/implant__sale.webp);
  justify-content: space-between;
  align-items: center;
}

.sale__implant .title__sale {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design__font {
  font-family: var(--accent-font);
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  display: block;
}

.sale__consultant {
  background-image: url(../images/consult.webp);
  justify-content: end;
  align-items: center;
}

.price__consultant {
  font-family: var(--accent-font);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  background: #1a3d59b8;
  padding: 10px 20px;
  border-radius: 18px;
}

.sale__consultant .title__sale {
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.sale__installation__implant {
  grid-column: 4/5;
  grid-row: 1/3;
  background-image: url(../images/instalation.webp);
  justify-content: start;
  align-items: center;
}

.sale__installation__implant .title__sale {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 45px;
}

.sale__installation__implant-korea {
  font-family: var(--accent-font);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.sale__therapy {
  grid-row: 2/3;
  grid-column: 1/4;
  background-image: url(../images/pulpit.webp);
  justify-content: space-between;
  align-items: start;
}

.sale__therapy .title__sale {
  background: #1a3d59b8;
  max-width: 645px;
  width: 75%;
  font-size: 24px;
  padding: 10px;
  border-radius: 16px;
}
.price__therapy {
  background: linear-gradient(
    180deg,
    rgba(236, 0, 0, 0.8) 0%,
    rgba(179, 0, 0, 0.8) 100%
  );
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--main-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-inline: 16px;
  padding-block: 8px;
  position: absolute;
  left: 0;
  bottom: 75px;
}
.reviews {
  position: relative;
  
  padding-bottom: 30px;
}

.reviews .section_title {
  padding-inline: var(--ears);
}

.reviews__container {
  height: 189px;
}

.reviews__item {
  box-shadow: 0px 0px 12px 0px #00000040;
  border-radius: 15px;
  max-width: 700px;
  width: 58%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 16px;
  height: 100%;
  margin-block-start: 10px;
  opacity: 0.4;
}

.swiper-slide-active {
  opacity: 1;
}

.conten__reviews {
  text-align: left;
}
.rewiews__name {
  color: #2f516d;
}
.reviews__text {
  text-align: left;
  padding-block: 20px 24px;
}


.sale__button_prev::after,
.sale__button_next::after {
  content: "";
  width: 0px;
  height: 0px;
}

.sale__button_prev,
.sale__button_next {
  position: relative;
  transform: translateY(0%);
  width: 50px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  margin: auto;
}

.sale__button_prev {
  transform: translate(-75%, 100%);
}

.sale__button_next {
  transform: translateX(75%);
}

.form {
  background-image: url(../images/bg__form.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-block: 72px;
  width: 100%;
}

.title__form {
  font-family: var(--accent-font);
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  padding-bottom: 5px;
}

.subtitle__form {
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  margin-inline: auto;
  max-width: 460px;
  color: var(--main-color);
}

.form__button {
  background: linear-gradient(180deg, #ec0000 0%, #b30000 100%);
  padding: 10px 60px;
  font-family: var(--main-font);
  font-size: 19.78px;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
  border: none;
  border-radius: 10px;
  margin-top: 25px;
}

.form__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  margin-top: 25px;
}

.input__name,
.input__number {
  border: 1px solid var(--main-color);
  border-radius: 15px;
  padding: 20px;
  background: #ffffff6b;
  color: var(--main-color);
  max-width: 460px;
  width: 100%;
}

.input__name:focus,
.input__number:focus,
.input__name:focus-visible,
.input__number:focus-visible {
  outline: none;
}

.form input::placeholder {
  color: var(--main-color);
}
.form input::-webkit-input-placeholder {
  color: var(--main-color);
}
.form input::-moz-placeholder {
  color: var(--main-color);
}
.form input:-moz-placeholder {
  color: var(--main-color);
}
.form input:-ms-input-placeholder {
  color: var(--main-color);
}

.contact {
  padding-left: var(--ears);
  display: flex;
  gap: 13px;
  background-color: var(--bg-doctors);
}

.contact__container {
  padding-bottom: 68px;
  min-width: 340px;
}

.contact__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 347px;
  gap: 17px;
  margin-bottom: 62px;
}

.contact__list a,
p {
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.telephone__number {
  display: flex;
}
.telephone__number::before {
  content: "";
  width: 26px;
  height: 26px;
  background-image: url(../icons/tel__contact.svg);
  margin-right: 17px;
}

.email__link {
  display: flex;
}
.email__link::before {
  content: "";
  width: 26px;
  height: 26px;
  background-image: url(../icons/email__contact.svg);
  margin-right: 17px;
}

.geo__link {
  display: flex;
}
.geo__link::before {
  content: "";
  width: 50px;
  height: 36px;
  background-image: url(../icons/geo__contact.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 17px;
}

.work__time {
  display: flex;
}
.work__time::before {
  content: "";
  width: 26px;
  height: 26px;
  background-image: url(../icons/time__contact.svg);
  margin-right: 17px;
}

.cards__contacts {
  width: 100%;
}

.footer {
  position: relative;
  background-color: var(--accent-color);
  padding-inline: var(--ears);
  color: var(--main-color);
  padding-block: 43px 35px;
}

.footer__logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo__dent__footer {
  align-self: center;
  justify-self: start;
}

.logo__rus__footer {
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 25px;
  /* grid-column: 2 / 4; */
}

.logo__rus__footer-image {
  width: 85px;
  height: 32px;
}
.rus__text {
  display: flex;
  align-items: center;
  font-family: var(--rus-font);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.call__footer {
  display: none;
}

.opacity__slide {
  opacity: 0.5;
}

